@import "bootstrap/less/bootstrap.less";

@fancy-font: 'Lustria';
@gutter-width: 60px;

@container-sm: 500px; @container-desktop: 200px; @font-family-base: Helvetica, sans-serif; .title-header {
    padding-bottom: 10px;
    font-family: 'Lustria';
}

.wrapper {
    .container-fluid;
}

.header-bar {
    background-color: @brand-primary;
    color: #FFF;
    padding: 5px 0 5px 15px;
    margin-bottom: 30px;
    box-shadow: 0 -1px 2px rgba(0,0,0,.25) inset;

    h1 {
        padding: 0;
        margin: 0;
        font-family: @fancy-font;
        small {
            color: @gray-lighter;
            font-size: 14px;
        }
    }
}

// Breadcrumb
.box-shadow(@shadow: 0 1px 2px rgba(0,0,0,.25)) {
    box-shadow: @shadow;
}

.floating-box {
    padding: 25px;
    background: #FFF;
    .box-shadow;
}

// Article block styling
.article {
    margin-top: 0;
    margin-bottom: 50px;
    background: #FFF;

    h1 {
        .h3;
        .page-header;
        margin-top: 0;
        margin-bottom: 5pt;
    }

    h2 {
        .h6;
        .small;
        margin-top: 0;
        margin-bottom: 17pt;
    }

    footer {
        .h6;
        .small;
        margin-top: 17pt;
    }
}

// Navigation list
// Use the class for every <ul> in the same column.
// Nested <ul>s will be padded accordingly.
// -----------------------------------------------
.navigation {
    list-style-type: none;
    .nav;
    .nav-pills;
    .nav-stacked;
    margin-bottom: 15px;
        
    li a, li a:hover {
        padding: 3px 15px;
    }

    li a:hover {
        background-color: @brand-primary;
        color: #FFF;
    }

    // Pad nested ul's
    ul {
        padding-left: 15px;
    }
}

.nav-header {
    margin-top: 0;
}

.footer {
    text-align: center;
    .small;
}

